.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 30px 15px;
}
.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}
.form-auth__label {
  width: 100%;
}
.form-auth__input {
  width: 100%;
  padding: 17.5px 10px;
}
.link {
  color: #000;
}
.form-auth__error {
  font-size: 12px;
}
