@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: Satoshi;
  src: url(../public/font/Satoshi-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Clash Display;
  src: url(../public/font/ClashDisplay-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Clash Display;
  src: url(../public/font/ClashDisplay-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

:root {
  --container: 1440px;
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --border-grey: #ebe8f4;
  --white: #fff;
  --border-dark: #cac6da;
  --images---dark-chair: #f6f6f6;
  --header-link: #726e8d;

  --fz-xl: 36px;
  --fz-l: 32px;
  --fz-m: 18px;
  --fz-s: 16px;

  --size-60: 60px;
  --size-50: 50px;
  --size-15: 15px;

  --gap: 20px;
  --font-family: 'Satoshi', sans-serif;
  --second-family: 'Clash Display', sans-serif;
}
@media (max-width: 1024px) {
  :root {
    --size-60: 40px;
  }
}
@media (max-width: 768px) {
  :root {
    --fz-xl: 25px;
    --fz-m: 14px;
    --fz-s: 14px;
    --size-60: 30px;
    --size-50: 30px;
    --fz-l: 25px;
  }
}
@media (max-width: 425px) {
  :root {
    --fz-xl: 16px;
    --size-60: 20px;
    --size-50: 20px;
    --fz-l: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  color: #222;
  font-family: var(--font-family);
  font-weight: 400;
}
body._lock {
  overflow: hidden;
}
.list-reset li,
.list-reset a {
  list-style: none;
  text-decoration: none;
  color: #726e8d;
}
.btn {
  border: none;
  text-decoration: none;
  padding: 16px 32px;
  font-size: var(--fz-s);
  cursor: pointer;
  transition: transform 0.3s ease 0s;
  font-family: var(--font-family);
}

@media (max-width: 768px) {
  .btn {
    padding: 10px 20px;
  }
}
@media (any-hover: hover) {
  .btn:hover {
    transform: scale(1.1);
  }
}
.centered {
  width: 100%;
  padding-top: 36px;
  text-align: center;
}
.btn--dark {
  color: #fff;
  background-color: #494465;
}
.btn--gray {
  color: var(--dark-primary);
  background-color: var(--light-grey);
}
.btn--white {
  color: var(--dark-primary);
  background-color: #ffff;
}
.title {
  font-size: var(--fz-l);
}
.title--small {
  font-size: 24px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.content {
  flex: 1 0 auto;
  margin-bottom: auto;
  min-height: 400px;
}

.form {
  display: flex;
}
.form__input {
  border: none;
  padding: 17px 10px 17px 20px;
  background-color: var(--light-grey);
  font-size: var(--fz-s);
  font-weight: 400;
  font-family: var(--font-family);
}
.form__input::placeholder {
  color: #cfced6;
}
.form__input:focus {
  outline: none;
}
.form__button {
  white-space: nowrap;
}

/* header {
  position: relative;
}
header .logo {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
} */

/* header ul.nav button {
  font-family: 'Montserrat';
  border: none;
  background: none;
  text-decoration: none;
  color: #000;
  display: inline;
  margin-left: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
}
header ul.nav button:hover {
  opacity: 0.5;
  text-decoration: underline;
}
header ul.nav a {
  text-decoration: none;
  color: #000;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
}
header ul.nav a:hover {
  opacity: 0.5;
  text-decoration: underline;
}
.presentation {
  margin: 50px 0;
  background: url('./img/main.jpg');
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #00000078;
  position: relative;
}
.presentation::after {
  content: 'Лучшие товари для дома';
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  width: 300px;
}
.presentation::before {
  content: 'По низьким цінам';
  position: absolute;
  top: 250px;
  left: 50px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  width: 300px;
}
header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 0.5s ease 0s;
}
header .shop-cart-button:hover,
header .shop-cart-button.active {
  transform: scale(1.5);
  color: #dc3d3d;
}
header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 450px;
  background-color: #ebebeb;
  z-index: 10;
  box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
} */
/* header .shop-cart .item {
  width: 100%;
}
header .shop-cart .item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
}
header .shop-cart .item h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-cart .item b {
  font-weight: 600;
  color: #797979;
}
header .shop-cart .item .delete-icon {
  float: right;
  cursor: pointer;
  transition: color, transform 0.5s ease 0s;
  position: relative;
  top: -40px;
}
header .shop-cart .item .delete-icon:hover {
  transform: scale(1.5);
  color: #dc3d3d;
}
header .shop-cart .summa {
  font-size: 16px;
  font-weight: 600;
} */
/* .categoris {
  margin-bottom: 30px;
}
.categoris div {
  display: inline;
  background-color: #f2f2f2;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.categoris div:hover,
.categoris div.active {
  background-color: #00000078;
  color: #fff;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}
main .item {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

main .item img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease 0s;
  margin-bottom: auto;
  padding-bottom: 20px;
}
main .item img:hover {
  transform: scale(1.05);
}
main .item a {
  margin-top: 20px;
}
main .item p {
  min-height: 38px;
}
main .item a,
main .item p,
main .item b {
  margin: 10px 20px;
  color: #333;
}
main .item b {
  color: #5fa35f;
}
main .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}
main .add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
  background: #7a3232;
}
.product {
  display: flex;
  gap: 50px;
  margin-top: 100px;
}
.product img {
  max-height: 700px;
  height: 100%;
  width: 400px;
}
.product h2 {
  font-size: 40px;
  font-weight: 600;
}
.product p {
  margin: 20px 0;
  font-size: 20px;
}
.product b {
  font-size: 30px;
  font-weight: 600;
}
.product button {
  display: block;
  padding: 10px 20px;
  background-color: green;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
}

footer {
  margin-top: auto;
  text-align: center;
  margin-top: 100px;
}

/* Форма входу реєстарції  */
/* .content {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-auth {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-auth h1 {
  font-size: 40px;
  font-weight: 600;
}
.form-auth label {
  width: 100%;
}

.form-auth input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 15px;
}
.form-auth button {
  max-width: 200px;
  padding: 10px 20px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(59, 168, 59);
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.form-auth button:hover {
  background-color: rgb(44, 126, 44);
}
.form-auth p {
  color: red;
  font-size: 14px;
}
.cabinet {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cabinet h1 {
  flex: 0 0 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
} */

/* .cabinet img {
  width: 200px;
}
.cabinet-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
  margin-top: 20px;
}
.cabinet-form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  color: #000;
}
.cabinet-form input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}
.cabinet-form button {
  width: 100%;
  max-width: 200px;
  background: green;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.create-product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
  margin-top: 20px;
}
.create-product label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  color: #000;
}  */
/* .create-product input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}
.create-product .btn {
  width: 100%;
  max-width: 200px;
  background: green;
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.create-product .btn:disabled {
  background-color: gray;
}
.uploads-images {
  display: flex;
  gap: 10px;
}
.uploads-images img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}



.not-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex: 1;
} */
/* .input-error {
  display: none;
}
.error-price {
  display: block;
  font-size: 13px;
  color: red;
  font-weight: 300;
}

.loadind {
  display: block !important;
  width: 100%;
  text-align: center;
}
.loadind svg {
  color: #000 !important;
}
.loadind circle {
  stroke: #000;
}

.delete-image {
  border: none;
  background-color: transparent;
  cursor: pointer;
} */
